name: "Create Conan Package"
on: push

jobs:
  build_baremetal_pico1:
    name: "Baremetal"
    uses: Privatehive/conan-workflows/.github/workflows/createPackage.yml@master
    with:
      name: "rp2040"
      image: "ubuntu-22.04"
      conan_host_profile_path: "profiles/rp2040.host.profile"
      conan_remotes: https://conan.privatehive.de/artifactory/api/conan/public-conan
      conan_deploy_artifacts: true
      conan_artifact_name: "gpio-mirror_pico1_rp2040_artifacts"

  build_baremetal_pico2:
    name: "Baremetal"
    uses: Privatehive/conan-workflows/.github/workflows/createPackage.yml@master
    with:
      name: "rp2350-arm-s"
      image: "ubuntu-22.04"
      conan_host_profile_path: "profiles/rp2350-arm-s.host.profile"
      conan_remotes: https://conan.privatehive.de/artifactory/api/conan/public-conan
      conan_deploy_artifacts: true
      conan_artifact_name: "gpio-mirror_pico2_rp2350-arm-s_artifacts"

  upload_recipe:
    name: "Finalize"
    uses: Privatehive/conan-workflows/.github/workflows/uploadRecipe.yml@master
    needs: [ build_baremetal_pico1, build_baremetal_pico2 ]
    if: ${{ success() }}
    secrets: inherit
    with:
      publish_property: ${{ github.ref == 'refs/heads/master' }}
      conan_upload_remote: https://conan.privatehive.de/artifactory/api/conan/public-conan